*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: 'Open Sans', 'sans-serif';
  background-image: url("../images/computer-1209641_1920.jpg");
  color: #434343;
}

figcaption{
    background :linear-gradient(to right,#FFFFDD, silver, grey, silver, #FFFFDD);
    color : blue;
  font-weight:bold;
}
header{
  font-size:xx-large;
  font-style:italic;
  color:#34495E;
  font-weight:bold;
  
}

header,footer{
  text-align:center;
  margin-bottom :10vh;
  background :linear-gradient(to right,#FFFFDD, silver, grey, silver, #FFFFDD);
  
}

.wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 940px;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}


.panel:hover{
  background-color:khaki;
}
.panel {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
 
}


.wrapper > * {
  background-color: darkgray;
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
  margin-bottom: 10px;
  text-align:center;
}

a{
  text-decoration :none;
 }


img{
  max-width:100%;
}
