html {
    background-color : #FFDA8C;
}

section{
	margin-bottom : 15vh;
}

body {
    margin : 0px 4px;
    padding-top : 2px;
    box-shadow: 0px 2px 15px #BBBBBB;    
}

h1 {
   font-size:24px;
   color : navy;
   font-weight : bold;
   padding:7px;
   box-shadow: 0px 0px 10px #444444;
   margin : 1%;
   background-color:silver;
}

h2 {
   font-size:18px;
   text-align:left;
   color : blue;
   width:70%;
   margin: 20px 10px;
   padding:3px;
   box-shadow: 0px 0px 10px #999999;
}

h3 {
   font-size:16px;
   text-align:left;
   color : black;
   width: 50%;
   margin: 10px 20px;
   padding:3px;
   box-shadow: 0px 0px 5px #999999;
}


body>p, div.par {
    background-color:#EEEEEE;
    font-size: 16px;
    margin: 10px 15px;
    padding : 20px;
    width:90%;
    box-shadow: 5px 5px 5px #BBBBBB;
}

body{
	background-color :#FFFAF4;	
}

img.icones{
	width:3%;
}

/* container utilisée pour placer la grille*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto; /* permet de centrer automatiquement la grille*/
  margin-left: auto;
}

/* media queries du plus étroit au plus large pour la classe container */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

 /* container-fluid permet à la grille d'utiliser toute la largeur*/
  .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}