html {
    background-color : #FFDA8C;
}


body {
    margin : 0px 4px;
    padding-top : 2px;
    box-shadow: 0px 2px 15px #BBBBBB;    
}

h1 {
   font-size:24px;
   color : navy;
   font-weight : bold;
   padding:7px;
   box-shadow: 0px 0px 10px #444444;
   margin : 1%;
}

h2 {
   font-size:18px;
   text-align:left;
   color : blue;
   width:70%;
   margin: 20px 10px;
   padding:3px;
   box-shadow: 0px 0px 10px #999999;
}

h3 {
   font-size:16px;
   text-align:left;
   color : black;
   width: 50%;
   margin: 10px 20px;
   padding:3px;
   box-shadow: 0px 0px 5px #999999;
}


body>p, div.par {
    background-color:#EEEEEE;
    font-size: 16px;
    margin: 10px 15px;
    padding : 20px;
    width:90%;
    box-shadow: 5px 5px 5px #BBBBBB;
}

img {
   width:32%;
   padding : 3px;
   margin : 1px;  
}

a {
    text-decoration : none;
}
a:hover {
    text-decoration :underline;
}

#tablematiere a:hover {    
    color :white;
}


nav#tablematiere{
    border-radius: 8px;
    background-color : #8CC6D7AA;
    display : inline-block;
    padding: 3px;
    font-size : 14px;
    position : fixed;
    left : 2px;
    width : 185px;
}

nav#tablematiere:hover{
    background-color : #9DD6F7BB;
}


div.h1{
    font-weight : bold;
    color : black;
    
}
div.h2{
    font-style : italic;
    margin-left : 5px;
    color : purple;
	font-size : smaller;
}
div.h3{
    margin-left : 8px;
    font-size : smaller;
    color : yellow;
}

div.h1 a,div.h2 a, div.h3 a{
	color:inherit;
}

.droite {
    float : right;
    width : 200px;
}
